
.canvas{
    @apply w-full h-screen flex-grow z-10 relative overflow-auto flex 
}

.canvas::-webkit-scrollbar { width: 0 !important; display: none;}

/* Hide scrollbar for IE, Edge and Firefox */
.canvas {
  scrollbar-width: none;
}

.canvas:-moz-full-screen{
  @apply bg-grey
}


 /* Small (sm) */
 @media (min-width: 640px) { /* ... */ }

 /* Medium (md) */
 @media (min-width: 768px) { 

  }
 
 /* Large (lg) */
 @media (min-width: 1024px) {
 }
 
 /* Extra Large (xl) */
 @media (min-width: 1280px) { /* ... */ }