
/* purgecss start ignore */
@tailwind base;

@tailwind components;

html {

  @apply bg-black;
  scrollbar-width: none;
}


@font-face {
  font-family: BasierBold;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-bold-webfont/basiersquare-bold-webfont.ttf');
}

@font-face {
  font-family: BasierSemiBold;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.ttf');
}

@font-face {
  font-family: BasierRegular;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf');
}

@font-face {
  font-family: BasierMonoCircleSemiBold;
  src: url('/font/Basier-Mono/Basier-Mono-Circle-Webfont/basiercirclemono-semibold-webfont.ttf');
}

@font-face {
  font-family: BasierMonoCircleRegular;
  src: url('/font/Basier-Mono/Basier-Mono-Circle-Webfont/basiercirclemono-regular-webfont.ttf');
}

@font-face {
  font-family: NowayIcon;
  src: url('/font/Noway/Noway Icons Webfont/Noway-Icons-webfont/noway-icons-webfont.ttf');
}

@font-face {
  font-family: Noway;
  src: url('/font/Noway/Noway Roman Webfont/Noway-Bold-webfont/noway-bold-webfont.ttf');
}


.font-default-title{
  font-family: 'BasierBold', sans-serif
}

.font-default-sub-title{
  font-family: 'BasierSemiBold', sans-serif
}

.font-default-paragraph-bold{
  font-family: 'BasierMonoCircleSemiBold', sans-serif
}


.font-default-regular{
  font-family: 'BasierRegular', sans-serif
}


.font-default-paragraph{
  font-family: 'BasierMonoCircleRegular', sans-serif
}


.font-default-accent{
  font-family: 'Noway', sans-serif
}

.font-icon{
  font-family: 'NowayIcon', sans-serif
}


/* .font-default{
  font-family: 'GeomanistRegular', sans-serif
} */


.cursor-emoji {
  cursor: url('/images/index.png'), auto;
}

/* purgecss end ignore */

/* body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.custom.active{
@apply text-white
}

.custom.inactive{
@apply text-grey
}
.custom.inactive:hover{
  @apply text-white
}




  /* .canvas{
    background-image: url('./images/poster.jpg');
    background-size: cover;
  } */

/* Small (sm) */
@media (min-width: 640px) { /* ... */ }

/* Medium (md) */
@media (min-width: 768px) { 

 }

/* Large (lg) */
@media (min-width: 1024px) {


 }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }

@tailwind utilities;