
/* purgecss start ignore */
@import url('/font/Noway/Noway Icons Webfont/Noway-Icons-webfont/stylesheet.css');
@import url('/font/Geomanist/Geomanist-Complete-Webfont/Geomanist-Black-Webfont/stylesheet.css');
@import url('/font/Geomanist/Geomanist-Complete-Webfont/Geomanist-Book-Webfont/stylesheet.css');
@import url('/font/Geomanist/Geomanist-Complete-Webfont/Geomanist-Bold-Webfont/stylesheet.css');


@tailwind base;

@tailwind components;

html {

  @apply bg-black;
  scrollbar-width: none;
}
#__next::-webkit-scrollbar {
  display: none;
}

p{
  @apply my-2
}

a{
  font-family: 'Noway', sans-serif;
}


@font-face {
  font-family: BasierBold;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-bold-webfont/basiersquare-bold-webfont.ttf');
}

@font-face {
  font-family: BasierSemiBold;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.ttf');
}

@font-face {
  font-family: BasierRegular;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf');
}

@font-face {
  font-family: BasierMonoCircleSemiBold;
  src: url('/font/Basier-Mono/Basier-Mono-Circle-Webfont/basiercirclemono-semibold-webfont.ttf');
}

@font-face {
  font-family: BasierMonoCircleRegular;
  src: url('/font/Basier-Mono/Basier-Mono-Circle-Webfont/basiercirclemono-regular-webfont.ttf');
}

/* @font-face {
  font-family: NowayIcon;
  src: url('/font/Noway/Noway Icons Webfont/Noway-Icons-webfont/noway-icons-webfont.ttf');
} */

@font-face {
  font-family: Noway;
  src: url('/font/Noway/Noway Roman Webfont/Noway-Bold-webfont/noway-bold-webfont.ttf');
}


.font-default-title{
  font-family: 'BasierBold', sans-serif
}
.font-secondary-title{
  font-family: 'geomanistbold',sans-serif;
}


.font-default-sub-title{
  font-family: 'BasierSemiBold', sans-serif
}

.font-secondary-sub-title{
  font-family: 'geomanistblack', sans-serif
}

.font-default-paragraph-bold{
  font-family: 'BasierMonoCircleSemiBold', sans-serif
}


.font-default-regular{
  font-family: 'BasierRegular', sans-serif
}


.font-default-paragraph{
  font-family: 'BasierMonoCircleRegular', sans-serif
}


.font-default-accent{
  font-family: 'Noway', sans-serif
}

.font-icon{
  font-family: 'noway_icons', sans-serif
}


/* .font-default{
  font-family: 'GeomanistRegular', sans-serif
} */


.cursor-emoji {
  cursor: url('/images/index.png'), auto;
}

/* purgecss end ignore */

/* body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.custom.active{
@apply text-white
}

.custom.inactive{
@apply text-grey
}
.custom.inactive:hover{
  @apply text-white
}

a {
  cursor: url('/images/index.png'), auto;
}

 input:invalid  {
  @apply border-r-2 border-red rounded-none
}

 input:valid  {
  @apply border-grey
}

textarea:invalid  {
  @apply border-r-2 border-red rounded-none
}

textarea:valid  {
  @apply border-grey
}





  /* .canvas{
    background-image: url('./images/poster.jpg');
    background-size: cover;
  } */

/* Small (sm) */
@media (min-width: 640px) { /* ... */ }

/* Medium (md) */
@media (min-width: 768px) { 

 }

/* Large (lg) */
@media (min-width: 1024px) {


 }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }

@tailwind utilities;