@font-face {
  font-family: BasierRegular;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf');
}
@font-face {
  font-family: BasierBold;
  src: url('/font/Basier/Basier Square Webfont/Basier-Square-bold-webfont/basiersquare-bold-webfont.ttf');
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}


a {
    cursor: url('/images/index.png'), auto;
  }


.hidescroll{
  scrollbar-width: none;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'BasierBold', sans-serif
}